# Dependencies
node_modules/

# Environment variables
.env

# Build output
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
*.log
backend/*.log

# Database data
mongodb-data/

# Editor/Agent files
.gemini/
